.nav-link{
    color: white;
}
.link-active:hover{
    color: #00FFF5;
}
#logo{
    height: 90px;
}
#bg-index{
    background-image: url('../img/gif/background.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}