/* paleta de colores: oscuro #222831  oscuro claro #393E46 cyan oscuro #00ADB5 cyan #00FFF5 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* logo */
.logo{
    background-color: black;
    border-radius: 15px;
}
/* estilo de los enlaces de la barra de navegación */
.nav-link{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: .5;
}
.nav1{
    display: flex;
    justify-content: center;
    

}
/* estilo de los enlaces de la barra de navegación al pasar el mouse */
.link-active:hover{
    background-color: #00FFF5;
    font-size: 28px;
    opacity: 3;
}
.link-active{
    transition: 0.9s all;

}
/* Boton de la barra de navegacion en pantallas mas pequeñas */
.navbar-toggler{
    border-color: #00FFF5;
    color: white;
}
.navbar-toggler-icon{
    background-image: url('../img/dollar.png');
}
/* estilo del logotipo */
#logo{
    height: 120px;
}
/* Estilo del contenedor index, la seccion principal */
header{
    background-image: url('../img/gif/que-es-el-tranding.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    max-width: 100%;
}
/* contenido de bg-index */
.container-1{
    border:solid 1px gray;
    padding: 20px 20px;
    font-size: 20px;
    background-color: #1f1d1d;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    color: white;
    display: flex;
}
/* team */
.title2{
    margin-top: 70px;
    margin-bottom: 50px;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card{
    margin-top: 15px;
}

.card .card-body{
    text-align: center;
    line-height: 1.5;
}
.card .card-body button{
    margin-top: 3px;
}

.card .card-body button a{
    text-decoration: none;
    color: white;
}
.container-2{
    max-width: 100%;
    background-color:#1f1d1d ;
    margin: 5px 5px;
}
.image-cards{
    border: solid  rgb(4, 4, 160) 5px ;

}




